<% layout('layout') -%>

<h1> Shop Smart, Save Big!</h1>

<p>Starting point to create something unique</p>

<p>Signup to start Buying</p>
<h3>Start your search here</h3>

<p>Our prices are some of the best on the web</p>

<p>Looking for smart items?</p>
<h3>This will appear across the site as you add to your cart</h3>

<p>Build a smart cart</p>
<h3>The more you buy the more you save</h3>